<div ng-include="menuTemplate.url"></div>
 <h1>Customers</h1>

<div class="container">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th> Contact Phone</th>

            </tr>
            </thead>
            <tbody ng-repeat="customer in data_customers" >
            <tr>
                <td>{{customer.firstname}}</td>
                <td>{{customer.lastname}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.contact_phone}}</td>

            </tr>
            </tbody>
        </table>

</div>

