<div ng-include="main.menuTemplate.url"></div>
<div class="container">
    <img src="/images/angularjs-frontend.png" class="col-md-12">
</div>
</br>
<div class="container col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">CRUD</div>
        <div class="panel-body">Panel Content</div>
        <ul>
            <li>Laravel 5.2</li>
            <li>JWT </li>
            <li>AngularJS </li>
            <li>Satellizer </li>
            <li>Toastr</li>
        </ul>
    </div>
</div>




