<div class="header" ng-controller="MenuCtrl">
    <header ng-controller="MenuCtrl as vm">
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="vm.isCollapsed = !vm.isCollapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Main Panel</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" uib-collapse="vm.isCollapsed" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">


                    </ul>
                    <ul class="nav navbar-nav  ">
                        <li class="dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ><a href="#!/order">Orders</a></li>
                                <li ><a href="#!/order_customer">Orders Customer</a></li>
                                <li ><a href="#!/new_order">New Order</a></li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav  ">
                        <li class="dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ><a href="#!/customers">Customers</a></li>
                                <li ><a href="#!/new_customer">New Customer</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav  ">
                        <li class="dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Retailers <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ><a href="#!/retailers">Retailers</a></li>
                                <li ><a href="#!/new_retailer">New Retailers</a></li>
                            </ul>
                        </li>
                    </ul>



                    <ul class="nav navbar-nav  ">
                        <li class="dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ><a href="#!/user">User</a></li>
                                <li ><a href="#!/new_user">New User</a></li>
                            </ul>
                        </li>
                    </ul>




                    <!--<form class="navbar-form navbar-left" role="search">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">Submit</button>-->
                    <!--</form>-->
                    <ul class="nav navbar-nav pull-right ">
                        <li class="dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle " uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User loged as : {{user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ><a href="#/" ng-click="logout()">Cerra Session</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>


</div>

