<div ng-include="menuTemplate.url"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body"> <h4 class="text-center">New User </h4></div>
        <form>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" ng-model="username">
            </div>

            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="firstname">
            </div>

            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="lastname">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="email">
            </div>

            <div class="form-group">
                <label for="role_id">Role id</label>
                <input type="number" class="form-control" id="role_id" placeholder="Enter role id" ng-model="role_id">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
            </div>

            <button type="submit" class="btn btn-default" ng-click="sendPost()">Submit</button>
        </form>

    </div>
</div>