<div ng-include="menuTemplate.url"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body"> <h4 class="text-center">New Retailer </h4></div>
        <form>

            <div class="form-group">
                <label for="name">Retailer Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter retailer name" ng-model="name">
            </div>

            <div class="form-group">
                <label for="location">Retailer Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter retailer location" ng-model="location">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter retailer email" ng-model="email">
            </div>

            <div class="form-group">
                <label for="secret">Enter Secret </label>
                <input type="text" class="form-control" id="secret" placeholder="Enter retailer secret" ng-model="secret">
            </div>


            <button type="button" class="btn btn-primary btn-lg" ng-click="sendPost()" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Submit
            </button>
        </form>

    </div>


</div>
</div>


