<div ng-include="menuTemplate.url"></div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body"> <h4 class="text-center">New Order </h4></div>
            <form>
                <div class="form-group">
                    <label for="repeatSelect"> Select User: </label>
                    <select name="repeatSelect" id="repeatSelect" ng-model="data.model" class="form-control">
                    <option ng-repeat="option in data_customer" value="{{option.id}}">{{option.firstname}}  {{option.lastname}}</option>
                    </select>
                </div> 

                <div class="form-group">
                    <label for="repeatSelect"> Select Ratailer: </label>
                    <select name="repeatSelect" id="repeatSelect" ng-model="data.model2" class="form-control">
                    <option ng-repeat="option in data_retailers.retailers" value="{{option.id}}">{{option.name}}  ({{option.location}})</option>
                    </select>
                </div> 

                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" placeholder="Enter last name" ng-model="status">
                </div>

                <div class="form-group">
                    <label for="total">Total </label>
                    <input type="number" class="form-control" id="total" placeholder="Enter total order" ng-model="total">
                </div>


                <button type="button" class="btn btn-primary btn-lg" ng-click="sendPost( )" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    Submit
                </button>
            </form>

        </div>

    </div>

