<div ng-include="menuTemplate.url"></div>
<div class="container">
<div class="panel panel-default">

    <div class="panel-body"> <h4 class="text-center">Orders List </h4></div>
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Order Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Retailler Name</th>
            <th>Retailler Location</th>
            <th>Order Status</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody ng-repeat="persona in data" >
        <tr ng-repeat="day in persona">
            <td ><a href="#!/order_detaill/{{day.id}}">{{day.id}}</a> </td>
            <td >{{day.firstname}}</td>
            <td >{{day.lastname}}</td>
            <td >{{day.name}}</td>
            <td >{{day.location}}</td>
            <td >{{day.status}}</td>
            <td >{{day.total}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<!--<canvas id="myChart" width="50px" height="50px"></canvas>-->

<!--<script>-->
    <!--var ctx = document.getElementById("myChart");-->
    <!--var myChart = new Chart(ctx, {-->
        <!--type: 'bar',-->
        <!--data: {-->
            <!--labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],-->
            <!--datasets: [{-->
                <!--label: '# of Votes',-->
                <!--data: [12, 19, 3, 5, 2, 3],-->
                <!--backgroundColor: [-->
                    <!--'rgba(255, 99, 132, 0.2)',-->
                    <!--'rgba(54, 162, 235, 0.2)',-->
                    <!--'rgba(255, 206, 86, 0.2)',-->
                    <!--'rgba(75, 192, 192, 0.2)',-->
                    <!--'rgba(153, 102, 255, 0.2)',-->
                    <!--'rgba(255, 159, 64, 0.2)'-->
                <!--],-->
                <!--borderColor: [-->
                    <!--'rgba(255,99,132,1)',-->
                    <!--'rgba(54, 162, 235, 1)',-->
                    <!--'rgba(255, 206, 86, 1)',-->
                    <!--'rgba(75, 192, 192, 1)',-->
                    <!--'rgba(153, 102, 255, 1)',-->
                    <!--'rgba(255, 159, 64, 1)'-->
                <!--],-->
                <!--borderWidth: 1-->
            <!--}]-->
        <!--},-->
        <!--options: {-->
            <!--scales: {-->
                <!--yAxes: [{-->
                    <!--ticks: {-->
                        <!--beginAtZero:true-->
                    <!--}-->
                <!--}]-->
            <!--}-->
        <!--}-->
    <!--});-->
<!--</script>-->
</div>

