<div ng-include="menuTemplate.url"></div>
<div class="form-group">
    <a href="#!/order_customer" class="btn btn-info"  <span class="glyphicon glyphicon-plus-sign">  </span> Search another user</a>
</div>
<h4> Customer Detaills : {{data.customer_detaills [0]["name"]}} {{data.customer_detaills [1]["lastname"]}}</h4>


<div class="panel panel-default">
    <div class="panel-body"> <h4 class="text-center">Show order by User </h4></div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Ratiler Name :</th>
                <th>Retailler email</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ord in data">  
            <td >{{ord.id}}</td>
            <td >{{ord.name}}</td>
            
            <td >{{ord.retamail}}</td>
            <td >{{ord.total}}</td>
            </tr>
            </tbody>
        </table>
 



</div>
 
