<div ng-include="detaill.menuTemplate.url"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body"> <h4 class="text-center">Order Detaills </h4></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Retailler Name</th>
                <th>Retailler Location</th>
                <th>Order Status</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >{{data.firstName}}</td>
                <td >{{data.lastName}}</td>
                <td >{{data.name}}</td>
                <td >{{data.location}}</td>
                <td >{{data.status}}</td>
                <td >{{data.total}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>