<div ng-include="menuTemplate.url"></div> 
<div class="panel panel-default">
    <div class="panel-body"> <h4 class="text-center">Show order by User </h4></div>
    
        <div class="form-group">
            <label for="repeatSelect"> Select Customer: </label>
            <select name="repeatSelect" id="repeatSelect" ng-model="data.model" class="form-control">
                <option ng-repeat="option in data" value="{{option.id}}"><a href="#!/order_customer_detail/{{data.model}}">{{option.firstname}} {{option.lastname}}</a></option>
            </select>
        </div>  
        <div class="form-group">
         <a href="#!/order_customer_detail/{{data.model}}" class="btn btn-info "  ng-if="data.model"
         <span class="glyphicon glyphicon-plus-sign">
             </span> Show Orders User</a>
        </div>
</div>

 

