<div ng-include="menuTemplate.url"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body"> <h4 class="text-center">Retailer List </h4></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody ng-repeat="retailer in data" >
            <tr ng-repeat="reta in retailer">
                <td >{{reta.name}}</td>
                <td >{{reta.location}}</td>
                <td >{{reta.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

