<div ng-include="menuTemplate.url"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body"> <h4 class="text-center">Users List </h4></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nickname</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody ng-repeat="persona in data" >
            <tr ng-repeat="day in persona">
                <td >{{day.username}}</td>
                <td >{{day.firstName}}</td>
                <td >{{day.lastName}}</td>
                <td >{{day.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
